<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/style.css">   
    </head>
    <title>
        <h1>Weather App v1.0.2 - About us</h1>
    </title>
<body>
    <div class="main-content">
    {{>header}}
    <p>

    Love the power of Coding!
    </p>
    
    </div>
    {{>footer}}
</body>

    </html>