<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/style.css">    
            
    </head>
    <title>
        <h1>Weather App v1.0.1</h1>
    </title>
<body>

    <div class="main-content">
    {{>header}}
    <img class="portrait" src="/img/logo.png">
     <p>Use this site for your weather</p>
    
    <form>

        <input placeholder="Location">
        <button>Search</button>
    </form>

    <p id="message-1"></p>
    <p id="message-2"></p>
    
    </div>

     {{>footer}}
     <script src="/js/app.js"></script>
</body>

    </html>